<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="SimpleEndpointServices" name="Simple endpoint services" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in is written during Code Camp 2017 to demonstrate new engine APi endpoints.</Description>
      <Authors>
        <Author name="Bernardy, Richard" email="rbernard@usf.edu" />
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>GNU General Public License Version 3, 29 June 2007. https://www.gnu.org/licenses/gpl-3.0.en.html</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="SimpleEndpointServices" name="simple-endpoints-plugin.dll" />  
    
  </Extension>
  
    <!-- This adds an endpoint to the SobekCM engine which just returns the search information in XML format -->
    <!-- This will be at: [url]/engine/plugins/ebsco                                                         -->
  <Engine ClearAll="false">
    <Mapping>
      <Path Segment="plugins">
        <Path Segment="simple">
          <Path Segment="results">
            <AutoDoc>
              <Description> Return a search in a simplified XML or JSON format, mostly dublin core</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments> Search arguments </Arguments>
              <Returns>XML or JSON string written to the response</Returns>
            </AutoDoc>
            <Endpoint Segment="json" ComponentID="SIMPLE_RESULTS_COMP" Method="Simple_Results_JSON" Protocol="JSON" />
            <Endpoint Segment="xml" ComponentID="SIMPLE_RESULTS_COMP" Method="Simple_Results_XML" Protocol="XML" />
          </Path>
          <Path Segment="item">
            <AutoDoc>
              <Description> Return a search in a simplified XML or JSON format, mostly dublin core</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments> Search arguments </Arguments>
              <Returns>XML or JSON string written to the response</Returns>
            </AutoDoc>
            <Endpoint Segment="json" ComponentID="SIMPLE_ITEM_COMP" Method="Simple_Item_JSON" Protocol="JSON" />
            <Endpoint Segment="xml" ComponentID="SIMPLE_ITEM_COMP" Method="Simple_Item_XML" Protocol="XML" />
          </Path>
        </Path>
      </Path>
    </Mapping>
    <Components>
      <Component ID="SIMPLE_RESULTS_COMP" Class="SobekCM.Engine_Library.Endpoints.SimpleResultsEndpoints" Assembly="SimpleEndpointServices" />
      <Component ID="SIMPLE_ITEM_COMP" Class="SobekCM.Engine_Library.Endpoints.SimpleItemEndpoints" Assembly="SimpleEndpointServices" />
    </Components>
  </Engine>
</SobekCM_Config>
